html, body {
	background-color: #000;
	background-image: url("./images/bg_body.gif");
	background-repeat: repeat-x;
	background-attachment: fixed;
}

h3 {
	border-bottom-color: #000;
	color: #000;
}

hr {
	border-top-color: #000;
}

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus,
.search-box .button:hover {
	border-color: #4498d4;
}

.search-header {
	box-shadow: 0 0 10px #4498d4;
}

#wrap {
	border-color: #5fa8d3;
	border-radius: 0;
}

.headerbar {
	background-color: #124f91;
	background-image: none;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

.logo {
	padding: 0;
}

.imageset.site_logo {
	background-image: url("./images/site_logo.jpg");
	padding-left: 394px;
	padding-top: 140px;
	vertical-align: middle;
}

.navbar {
	background-color: #dedede;
	border-radius: 0;
}

.forabg, .forumbg {
	background-color: #212121;
	background-image: url("./images/bg_forum.jpg");
	background-repeat: repeat-y;
	border-radius: 0;
}

.panel {
	background-color: #d7d7d7;
	border-radius: 0;
}

.bg1 {
	background-color: #e7e7e7;
}

.bg2 {
	background-color: #ededed;
}

.bg3	{
	background-color: #dadada;
}

table.table1 tbody td {
	border-top-color: #000;
}

.pagination li.active span {
	background-color: #5fa8d3;
	border-color: #5fa8d3;
}

.pagination li a:hover, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background-color: #124f91;
	border-color: #124f91;
}

div.rules {
	background-color: #6bfdca;
	color: #008ed8;
}

a { color: #000; }
a:hover	{ color: #0f80c6; }

.postlink {
	border-bottom-color: #124f91;
	color: #124f91;
}

.postlink:hover {
	background-color: transparent;
}

a.arrow-left:hover {
	color: #124f91;
}

a.arrow-right:hover {
	color: #124f91;
}

ul.forums {
	background-image: url("./images/gradient.gif");
	border-radius: 0;
}

li.row:hover {
	background-color: #fff;
}

.content h2, .panel h2 {
	border-bottom-color:  #000;
}

.signature {
	border-top-color: #93b5f5;
}

.notice {
	border-top-color:  #000;
}

blockquote {
	background-color: #fff;
}

.codebox p {
	border-bottom-color:  #000;
}

dl.thumbnail dt a:hover img {
	border-color: #124f91;
}

.button {
	border-color: #4498d4;
	color: #4498d4;
}

.icon-acp					{ background-image: url("./images/icon_acp.gif"); }
.icon-contact				{ background-image: url("./images/icon_pm.gif"); }
.icon-download				{ background-image: url("./images/icon_download.gif"); }
.icon-faq					{ background-image: url("./images/icon_faq.gif"); }
.icon-home					{ background-image: url("./images/icon_home.gif"); }
.icon-mcp					{ background-image: url("./images/icon_mcp.gif"); }
.icon-members				{ background-image: url("./images/icon_members.gif"); }
.icon-notification			{ background-image: url("./images/icon_notification.gif"); }
.icon-pm					{ background-image: url("./images/icon_pm.gif"); }
.icon-profile				{ background-image: url("./images/icon_profile.gif"); }
.icon-team					{ background-image: url("./images/icon_team.gif"); }
.icon-ucp					{ background-image: url("./images/icon_ucp.gif"); }

.global_read													{ background-image: url("./images/announce_read.png"); }
.global_read_mine												{ background-image: url("./images/announce_read_mine.png"); }
.global_read_locked												{ background-image: url("./images/announce_read_locked.png"); }
.global_read_locked_mine										{ background-image: url("./images/announce_read_locked_mine.png"); }
.global_unread													{ background-image: url("./images/announce_unread.png"); }
.global_unread_mine												{ background-image: url("./images/announce_unread_mine.png"); }
.global_unread_locked											{ background-image: url("./images/announce_unread_locked.png"); }
.global_unread_locked_mine										{ background-image: url("./images/announce_unread_locked_mine.png"); }

.announce_read													{ background-image: url("./images/announce_read.png"); }
.announce_read_mine												{ background-image: url("./images/announce_read_mine.png"); }
.announce_read_locked											{ background-image: url("./images/announce_read_locked.png"); }
.announce_read_locked_mine										{ background-image: url("./images/announce_read_locked_mine.png"); }
.announce_unread												{ background-image: url("./images/announce_unread.png"); }
.announce_unread_mine											{ background-image: url("./images/announce_unread_mine.png"); }
.announce_unread_locked											{ background-image: url("./images/announce_unread_locked.png"); }
.announce_unread_locked_mine									{ background-image: url("./images/announce_unread_locked_mine.png"); }

.forum_link														{ background-image: url("./images/forum_link.png"); }
.forum_read														{ background-image: url("./images/forum_read.png"); }
.forum_read_locked												{ background-image: url("./images/forum_read_locked.png"); }
.forum_read_subforum											{ background-image: url("./images/forum_read_subforum.png"); }
.forum_unread													{ background-image: url("./images/forum_unread.png"); }
.forum_unread_locked											{ background-image: url("./images/forum_unread_locked.png"); }
.forum_unread_subforum											{ background-image: url("./images/forum_unread_subforum.png"); }

.sticky_read													{ background-image: url("./images/sticky_read.png"); }
.sticky_read_mine												{ background-image: url("./images/sticky_read_mine.png"); }
.sticky_read_locked												{ background-image: url("./images/sticky_read_locked.png"); }
.sticky_read_locked_mine										{ background-image: url("./images/sticky_read_locked_mine.png"); }
.sticky_unread													{ background-image: url("./images/sticky_unread.png"); }
.sticky_unread_mine												{ background-image: url("./images/sticky_unread_mine.png"); }
.sticky_unread_locked											{ background-image: url("./images/sticky_unread_locked.png"); }
.sticky_unread_locked_mine										{ background-image: url("./images/sticky_unread_locked_mine.png"); }

.topic_moved													{ background-image: url("./images/topic_moved.png"); }
.topic_read														{ background-image: url("./images/topic_read.png"); }
.topic_read_mine												{ background-image: url("./images/topic_read_mine.png"); }
.topic_read_hot													{ background-image: url("./images/topic_read_hot.png"); }
.topic_read_hot_mine											{ background-image: url("./images/topic_read_hot_mine.png"); }
.topic_read_locked												{ background-image: url("./images/topic_read_locked.png"); }
.topic_read_locked_mine											{ background-image: url("./images/topic_read_locked_mine.png"); }
.topic_unread													{ background-image: url("./images/topic_unread.png"); }
.topic_unread_mine												{ background-image: url("./images/topic_unread_mine.png"); }
.topic_unread_hot												{ background-image: url("./images/topic_unread_hot.png"); }
.topic_unread_hot_mine											{ background-image: url("./images/topic_unread_hot_mine.png"); }
.topic_unread_locked											{ background-image: url("./images/topic_unread_locked.png"); }
.topic_unread_locked_mine										{ background-image: url("./images/topic_unread_locked_mine.png"); }

.pm_read														{ background-image: url("./images/topic_read.png"); }
.pm_unread														{ background-image: url("./images/topic_unread.png"); }

.panel-container .panel li.row {
	border-top-color: #000;
}

.panel-container table.table1 thead th {
	border-bottom-color: #000;
}

#tabs .activetab > a,
#tabs .activetab > a:hover {
	background: #dadada;
	background: -moz-linear-gradient(top, #ffffff 0%, #dadada 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dadada));
	background: -webkit-linear-gradient(top, #ffffff 0%, #dadada 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #dadada 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #dadada 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #dadada 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada', GradientType=0 );
	border-color: #dadada;
}

#navigation a {
	background: -moz-linear-gradient(left, #B4C4D1 50%, #dadada 100%);
	background: -webkit-gradient(left top, right top, color-stop(50%, #B4C4D1), color-stop(100%, #dadada));
	background: -webkit-linear-gradient(left, #B4C4D1 50%, #dadada 100%);
	background: -o-linear-gradient(left, #B4C4D1 50%, #dadada 100%);
	background: -ms-linear-gradient(left, #B4C4D1 50%, #dadada 100%);
	background: linear-gradient(to right, #B4C4D1 50%, #dadada 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B4C4D1', endColorstr='#dadada', GradientType=1 );
}

.rtl #navigation a {
	background: -moz-linear-gradient(left, #dadada 0%, #B4C4D1 50%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #dadada), color-stop(50%, #B4C4D1));
	background: -webkit-linear-gradient(left, #dadada 0%, #B4C4D1 50%);
	background: -o-linear-gradient(left, #dadada 0%, #B4C4D1 50%);
	background: -ms-linear-gradient(left, #dadada 0%, #B4C4D1 50%);
	background: linear-gradient(to right, #dadada 0%, #B4C4D1 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#B4C4D1', GradientType=1 );
}

.dropdown-extended .header {
	background: -moz-linear-gradient(top, #F1F8FF 0%, #dadada 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F8FF), color-stop(100%, #dadada));
	background: -webkit-linear-gradient(top, #F1F8FF 0%, #dadada 100%);
	background: -o-linear-gradient(top, #F1F8FF 0%, #dadada 100%);
	background: -ms-linear-gradient(top, #F1F8FF 0%, #dadada 100%);
	background: linear-gradient(to bottom, #F1F8FF 0%, #dadada 100%);
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before, ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
	border-color: #0f80c6;
}

.dropdown .dropdown-contents {
	border-color: #dedede;
}
